$btn-hover: #536e87;
$shadow: #536e87;

h1 {
  margin: 2rem 10rem 1rem;
  font-size: 3em;
}

.body-app {
  display: flex;
  margin: 0 2rem;
  justify-content: center;
}

.scores {
  display: flex;
  flex-direction: column;
  padding: 0 5rem 0 0;
  width: 40%;
}

.title-scores {
  display: flex;
  align-items: center;
}

h2 {
  padding-right: 1rem;
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0;
  margin-inline-end: 0;
  font-weight: bold;
}

p {
  margin: 0;
  padding: 0.5rem;
}

.refresh-btn {
  width: fit-content;
  margin: 0;
  align-content: flex-end;
  background: none;
  border: 2px solid black;
  box-shadow: 3px 3px $shadow;
  cursor: pointer;
  border-radius: 5px;
}

.refresh-btn:hover {
  background: $btn-hover;
}

.dinamic-scores {
  border: 2px solid black;
  max-width: 100%;
  border-radius: 5px;
  box-shadow: 3px 5px $shadow;
}

.scores-container:nth-child(even) {
  background-color: #e0e0e2;
}

.input-name {
  border: 2px solid black;
  padding: 3px;
  margin-bottom: 0.5rem;
  width: 96%;
  border-radius: 5px;
  box-shadow: 3px 3px $shadow;
}

.input-score {
  border: 2px solid black;
  padding: 3px;
  width: 96%;
  border-radius: 5px;
  box-shadow: 3px 3px $shadow;
}

.submit-button {
  display: flex;
  justify-content: flex-end;
  margin-top: 0.5rem;
}

.submit-btn {
  width: fit-content;
  align-content: flex-end;
  background: none;
  border: 2px solid black;
  margin: 0;
  box-shadow: 3px 3px $shadow;
  cursor: pointer;
  border-radius: 5px;
}

.submit-btn:hover {
  background: $btn-hover;
}

@media only screen and (max-width: 768px) {
  h1 {
    margin: 0 2rem;
    padding-top: 1rem;
  }

  .body-app {
    flex-direction: column;
  }

  .scores {
    width: 100%;
    padding: 0;
  }
}
